.page {
  background-color: black;
  color: white;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 45px auto 0;
  padding-bottom: 36.6px;
}

.page__content {
  min-height: calc(100vh - 375px);
  margin: 0 auto;
  max-width: 1280px;
  padding-left: 17px;
  padding-right: 17px;
}

@media screen and (max-width: 480px) {
  .page__section {
    padding-bottom: 10px;
  }
}
